
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}

/* Covers the whole page */
body{
    /* width: 100vw;
    height: 100vh; */
    /* background: linear-gradient(#7597de,#2b1055, #0c0c0c); */
    background: linear-gradient(#2b1055,#03194a);
}

/*Includes all containers in the tope of page, logo, options*/
header{
    position:fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    /* padding: 30px 100px; */
    display:flex;
    justify-content: space-between;
    align-items:center;
    background: inherit;
    z-index: 1000;
}

/* the logo is my name */
header .logo{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-weight: 700;
    text-decoration:none;
    font-size: 2vw;
    text-transform:uppercase;
    letter-spacing: 2px;
    
}

/* list of options for the site */
header ul{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items:center;
    margin-left: 40%;
    font-size: 2vw;
}

/* individual objects inside the list */
header ul li{
    list-style: none;
    margin-left: 20px;
}

/* actions for links inside the list */
header ul li a{
    text-decoration:none;
    padding: 6px 50px;
    color:#fff
}

/* actions for when the mouse hovers over the link */
header ul li a:hover{
    background: #fff;
    color: #2b1055;
    border-radius: 20px;
}

/* container for the image on the site  */
section{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: fit-content;
    min-height: 100%;
}

/* object of image in section container */
section img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
    min-height: 100%;
    object-fit:cover;
    visibility:visible;
}

section img#Cover_photo{
    /* makes the image blend with the background*/
    mix-blend-mode: screen;
}
/* container with the welcome sign */
#welcome{
    position:relative;
    width: fit-content;
    color: #fff;
    margin-top: 10vh;
    margin-left: 30vw;
    white-space:nowrap;
    font-size: 7.5vw;
    z-index: 9;
    padding: 0%;
}

/* my name is */
section .hello{
    position:relative;
    /* top: 20%;
    left: 25%; */
    font-size: 4vw;
    color: #fff;
    margin-top: 1vh;
    margin-left: 5vw;
    margin-bottom: 0;
    padding: 0%;
    /* border: 4px black solid; */
}

/* Alexis Ponce */
section .myName{
    position:relative;
    /* top: 30%;
    left: 25%; */
    margin-left: 5vw;
    color: #fff;
    font-size: 8vw; 
    /* border: 4px white solid; */
    padding: 0%;
}

/* little about message */
section .shortAbout{
    position: relative;
    width: 80vw;
    color: #fff;
    margin-left: 5vw;
    display:flex;
    font-size: 2vw;
    padding: 0%;
    /* border: 4px green solid; */
}

/* for all paragraphs */
p{
    color:white;
    background:red;
    font-style: italic;
    
}

.sideNav{
    visibility: hidden;
}
.navButton{
    visibility: hidden;
}
.afterGradient{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: auto;
    visibility:hidden;
}
.afterGradient img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    visibility: inherit;
}

.About{
    position: relative;
    width: 100%;
    height: fit-content;
    min-height: 100%;
    max-height: 100%;

    object-fit: cover;
    margin-bottom: 10vh;
    clear: both;


    /* width: 100%; */
    /* height: auto;
    max-height: 100%;
    min-height: 100%;
    object-fit:cover; */
}
.About .Sign{
    position: relative;
    margin-top: 15vh;
    margin-left: 5vw;
    font-size: 6vw;
    color: #fff;
    text-decoration: underline solid #fff;
}
.About .first_About{
    position: relative;
    margin-left: 10vw;
    font-size: 1.5vw;
    color: #fff;
    background-color: inherit;
}
.About .Second_About{
    position: relative;
    margin-top: 3vh;
    margin-left: 10vw;
    font-size: 1.5vw;
    color: #fff;
    background-color: inherit;
}

.About .about_skills{
    position: relative;
    margin-top: 3vh;
    margin-left: 10vw;
    font-size: 1.5vw;
    color:#fff;
    background-color: inherit;
}

.About .Skills{
    position: relative;
    margin-left: 11vw;
    margin-top: 2vh;
    display:inline-flex;
    color: #ccd6f6;
}
.About .Skills .Skills_list{
    position: relative;
    font-size: 1.5vw;
    width: 30vw;
}
.About .Skills .Second_Skills_list{
    position: relative;
    font-size: 1.5vw;
    width: 30vw;
}

.Resume{
    margin-top: 10vh;
    position: relative;
    width: 100vw;
    height: auto;
    max-height: 100%;
    min-height: 100%;
    border: solid;
    object-fit: cover;
    box-sizing: border-box;
    clear: both;
}
.Resume .resume_src{
    width:100vw;
    max-height: 100%;
    min-height: 100%;
    height: auto;
    object-fit: cover;
    position: relative;
    border: red;

/* 
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 100%;
    min-height: 100%;
    object-fit:cover;
    visibility:visible; */
    
}

.Contact{
    position: relative;
    width: 100vw;
    height: 15vh;
    background-color: inherit;
    color: #fff ;
    font-size: 2vw;
}
.Contact .email{
    position: relative;
    margin-top: 1vh;
    margin-left: 10vw;
}
.Contact .linkedin{
    position: relative;
    margin-top: 1vh;
    margin-left: 10vw;
}
.Contact .git{
    position: relative;
    margin-top: 1vh;
    margin-left: 10vw;
}

.Contact .phone{
    position: relative;
    margin-left: 10vw;
}

@media all and (max-width: 2000px) {
    header{
       padding: 0;
        display:flex;
        float: right;
        height:5%;
    }
    header .logo{
        position: relative;
        display: block;
        float: left;
        font-weight: 700;
        font-size: 2vw;
        letter-spacing: 1px;
        margin-top: 5vh;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        display:flex;
        width: 100vw;
        justify-content: right;
        margin-top: 10px;
        margin-left: 0%;
        font-size: small;
        float: right;
        padding: 2%;
        font-size: 2vw;
    }
    header ul li{
        display: block;
        float: right;
    }
    section img{
        position:absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .sideNav{
        visibility: hidden;
    }
    
    #welcome{
        position:relative;
        width: fit-content;
        color: #fff;
        margin-top: 10vh;
        margin-left: 22vw;
        margin-bottom: 0;
        white-space:nowrap;
        font-size: 10vw;
        z-index: 9;
        padding: 0%;
    }

    
    /* my name is */
    section .hello{
        position:relative;
        /* top: 20%;
        left: 25%; */
        font-size: 3vw;
        color: #fff;
        margin-top: 0vh;
        margin-left: 5vw;
        margin-bottom: 0;
        padding: 0%;
        /* border: 4px black solid; */
    }

        /* Alexis Ponce */
    section .myName{
        position:relative;
        /* top: 30%;
        left: 25%; */
        margin-left: 5vw;
        color: #fff;
        font-size: 8vw; 
        max-width: 100%;
        /* border: 4px white solid; */
        padding: 0%;
    }

        /* little about message */
    section .shortAbout{
        position: relative;
        width: 80vw;
        color: #fff;
        margin-left: 5vw;
        display:flex;
        font-size: 3vw;
        padding: 0%;
        /* border: 4px green solid; */
    }

    section img{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 100%;
        object-fit:cover;
        visibility:visible;
    }

    .About{
        font-size: 2vw;
    }
    
    .About .Sign{
        position: relative;
        margin-top: 6vh;
        margin-left: 5vw;
        font-size: 8vw;
        color: #fff;
        text-decoration: underline solid #fff;
    }
    .About .first_About{
        position: relative;
        margin-left: 10vw;
        font-size: 2vw;
        color: #fff;
        background-color: inherit;
    }
    .About .Second_About{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 2vw;
        color: #fff;
        background-color: inherit;
    }

    .About .about_skills{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 2vw;
        color:#fff;
        background-color: inherit;
    }

    .About .Skills{
        position: relative;
        margin-left: 11vw;
        margin-top: 2vh;
        display:inline-flex;
        color: #ccd6f6;
    }
    .About .Skills .Skills_list{
        position: relative;
        font-size: 2vw;
        width: 30vw;
    }
    .About .Skills .Second_Skills_list{
        position: relative;
        font-size: 2vw;
        width: 30vw;
    }
    
    .Contact{
        font-size: 3vw;
    }
}


/* setting for screen size smaller than 1200px */
@media all and (max-width: 1200px) {
    header{
       padding: 0;
        display:flex;
        float: right;
        height:5%;
    }
    header .logo{
        position: relative;
        display: block;
        float: left;
        font-weight: 700;
        font-size: 2vw;
        letter-spacing: 1px;
        margin-top: 5vh;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        display:flex;
        width: 100vw;
        justify-content: right;
        margin-top: 10px;
        margin-left: 0%;
        font-size: small;
        float: right;
        padding: 2%;
        font-size: 2vw;
    }
    header ul li{
        display: block;
        float: right;
    }
    section img{
        position:absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
    .sideNav{
        visibility: hidden;
    }
    
    #welcome{
        position:relative;
        width: fit-content;
        color: #fff;
        margin-top: 10vh;
        margin-left: 22vw;
        margin-bottom: 0;
        white-space:nowrap;
        font-size: 10vw;
        z-index: 9;
        padding: 0%;
    }

    
    /* my name is */
    section .hello{
        position:relative;
        /* top: 20%;
        left: 25%; */
        font-size: 3vw;
        color: #fff;
        margin-top: 0vh;
        margin-left: 5vw;
        margin-bottom: 0;
        padding: 0%;
        /* border: 4px black solid; */
    }

        /* Alexis Ponce */
    section .myName{
        position:relative;
        /* top: 30%;
        left: 25%; */
        margin-left: 5vw;
        color: #fff;
        font-size: 8vw; 
        max-width: 100%;
        /* border: 4px white solid; */
        padding: 0%;
    }

        /* little about message */
    section .shortAbout{
        position: relative;
        width: 80vw;
        color: #fff;
        margin-left: 5vw;
        display:flex;
        font-size: 3vw;
        padding: 0%;
        /* border: 4px green solid; */
    }

    section img{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 100%;
        object-fit:cover;
        visibility:visible;
    }
    
    .About .Sign{
        position: relative;
        margin-top: 6vh;
        margin-left: 5vw;
        font-size: 8vw;
        color: #fff;
        text-decoration: underline solid #fff;
    }
    .About .first_About{
        position: relative;
        margin-left: 10vw;
        font-size: 2vw;
        color: #fff;
        background-color: inherit;
    }
    .About .Second_About{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 2vw;
        color: #fff;
        background-color: inherit;
    }
    .About .about_skills{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 2vw;
        color:#fff;
        background-color: inherit;
    }

    .About .Skills{
        position: relative;
        margin-left: 11vw;
        margin-top: 2vh;
        display:inline-flex;
        color: #ccd6f6;
    }
    .About .Skills .Skills_list{
        position: relative;
        font-size: 2vw;
        width: 30vw;
    }
    .About .Skills .Second_Skills_list{
        position: relative;
        font-size: 2vw;
        width: 30vw;
    }
    
    .Contact{
        font-size: 3vw;
    }
}

/* setting for screen size smaller than 1000px */
@media all and (max-width: 1100px) {
    header{
       padding: 0;
        display:flex;
        float: right;
    }
    header .logo{
        position: relative;
        width:30vw;
        display: inline;
        float: left;
        font-weight: 700;
        font-size:x-large;
        letter-spacing: 1px;
        margin-top: 2vh;
        /* border: 4px white solid; */
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        display: flex;
        justify-content: right;

        margin-left: 14vw;
        font-size: small;
        float: right;
        width:auto;
        /* border: 4px green solid; */
    }
    header ul li{
        display: block;
        float: right;
    }
    .sideNav{
        visibility: hidden;
    }
    .navButton{
        visibility: hidden;
    }

    section{
        margin-top: 5vh;
    }

    #welcome{
        position:relative;
        width: fit-content;
        height: fit-content;
        color: #fff;
        margin-top: 0;
        margin-left: 25vw;
        white-space:nowrap;
        font-size: 9vw;
        z-index: 9;
        padding: 0;
        white-space: pre-line;
        /* border: 4px green solid; */
    }

    
    /* my name is */
    section .hello{
        position:relative;
        /* top: 20%;
        left: 25%; */
        font-size: 3vw;
        color: #fff;
        margin-top: 0vh;
        margin-left: 6vw;
        margin-bottom: 0;
        padding: 0%;
        /* border: 4px black solid; */
    }

        /* Alexis Ponce */
    section .myName{
        position:relative;
        /* top: 30%;
        left: 25%; */
        margin-left: 6vw;
        margin-top: 0;
        color: #fff;
        font-size: 5vw; 
        max-width: 100%;
        /* border: 4px white solid; */
        padding: 0%;
    }

        /* little about message */
    section .shortAbout{
        position: relative;
        width: 80vw;
        color: #fff;
        margin-left: 5vw;
        display:flex;
        font-size: 3vw;
        padding: 0%;
        /* border: 4px green solid; */
    }

    section img{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit:cover;
        visibility:visible;
    }
    
    .About .Sign{
        position: relative;
        margin-top: 6vh;
        margin-left: 5vw;
        font-size: 8vw;
        color: #fff;
        text-decoration: underline solid #fff;
    }
    .About .first_About{
        position: relative;
        margin-left: 10vw;
        font-size: 2.4vw;
        color: #fff;
        background-color: inherit;
    }
    .About .Second_About{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 2.4vw;
        color: #fff;
        background-color: inherit;
    }

    .About .about_skills{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 2.4vw;
        color:#fff;
        background-color: inherit;
    }

    .About .Skills{
        position: relative;
        margin-left: 11vw;
        margin-top: 2vh;
        display:inline-flex;
        color: #ccd6f6;
    }
    .About .Skills .Skills_list{
        position: relative;
        font-size: 2.4vw;
        width: 30vw;
    }
    .About .Skills .Second_Skills_list{
        position: relative;
        font-size: 2.4vw;
        width: 30vw;
    }
    
}

/* setting for screen size smaller than 900px */
@media all and (max-width: 900px) {
    header{
       padding: 0;
        display:flex;
        float: right;
    }
    header .logo{
        position: relative;
        display: block;
        font-weight: 700;
        font-size:x-large;
        letter-spacing: 1px;
        margin-top: 5vh;
        float: right;
        order: 2;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        visibility: hidden;
        display:block;
        justify-content: right;
        margin-left: 0%;
        font-size: small;
        float: left;
        order: 1;
    }
    .sideNav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        visibility: visible;
    }
    .sideNav a{
        display:block;
        text-decoration: none;
        padding: 8px 8px 8px 32px;
        color: #818181;
        transition: 1s;
    }
    .sideNav a:hover{
        color:#f1f1f1;
    }
    .sideNav .closbtn{
        position:relative;
        left: 70%;
    }
    .navButton{
        visibility: visible;
        font-size: 30px;
        cursor: pointer;
    }

    #welcome{
        position:relative;
        width: fit-content;
        color: #fff;
        margin-top: 10vh;
        margin-left: 10vw;
        white-space:nowrap;
        font-size: 15vw;
        z-index: 9;
        padding: 0%;
    }
    
    /* my name is */
    section .hello{
        position:relative;
        /* top: 20%;
        left: 25%; */
        font-size: 8vw;
        color: #fff;
        margin-top: 1vh;
        margin-left: 5vw;
        margin-bottom: 0;
        padding: 0%;
        /* border: 4px black solid; */
    }

        /* Alexis Ponce */
    section .myName{
        position:relative;
        /* top: 30%;
        left: 25%; */
        margin-left: 5vw;
        color: #fff;
        font-size: 14vw; 
        max-width: 100%;
        /* border: 4px white solid; */
        padding: 0%;
    }

        /* little about message */
    section .shortAbout{
        position: relative;
        width: 80vw;
        color: #fff;
        margin-left: 5vw;
        display:flex;
        font-size: 7vw;
        padding: 0%;
        /* border: 4px green solid; */
    }

    section img{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 100%;
        object-fit:cover;
        visibility:visible;
    }

    .About .Sign{
        position: relative;
        margin-top: 6vh;
        margin-left: 5vw;
        font-size: 8vw;
        color: #fff;
        text-decoration: underline solid #fff;
    }
    .About .first_About{
        position: relative;
        margin-left: 10vw;
        font-size: 2.5vw;
        color: #fff;
        background-color: inherit;
    }
    .About .Second_About{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 2.5vw;
        color: #fff;
        background-color: inherit;
    }
    .About .about_skills{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 2.5vw;
        color:#fff;
        background-color: inherit;
    }

    .About .Skills{
        position: relative;
        margin-left: 11vw;
        margin-top: 2vh;
        display:inline-flex;
        color: #ccd6f6;
    }
    .About .Skills .Skills_list{
        position: relative;
        font-size: 2.5vw;
        width: 30vw;
    }
    .About .Skills .Second_Skills_list{
        position: relative;
        font-size: 2.5vw;
        width: 30vw;
    }  
}







 /* setting for screen size smaller than 900px */
 @media all and (max-width: 780px) {
    header{
    padding: 0;
        display:flex;
        float: right;
    }
    header .logo{
        position: relative;
        display: block;
        font-weight: 700;
        font-size:x-large;
        letter-spacing: 1px;
        margin-top: 5vh;
        float: right;
        order: 2;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        visibility: hidden;
        display:block;
        justify-content: right;
        margin-left: 0%;
        font-size: small;
        float: left;
        order: 1;
    }
    .sideNav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        visibility: visible;
    }
    .sideNav a{
        display:block;
        text-decoration: none;
        padding: 8px 8px 8px 32px;
        color: #818181;
        transition: 1s;
    }
    .sideNav a:hover{
        color:#f1f1f1;
    }
    .sideNav .closbtn{
        position:relative;
        left: 70%;
    }
    .navButton{
        visibility: visible;
        font-size: 30px;
        cursor: pointer;
    }

    #welcome{
        position:relative;
        width: fit-content;
        color: #fff;
        margin-top: 10vh;
        margin-left: 10vw;
        white-space:nowrap;
        font-size: 15vw;
        z-index: 9;
        padding: 0%;
    }
    
    /* my name is */
    section .hello{
        position:relative;
        /* top: 20%;
        left: 25%; */
        font-size: 8vw;
        color: #fff;
        margin-top: 1vh;
        margin-left: 5vw;
        margin-bottom: 0;
        padding: 0%;
        /* border: 4px black solid; */
    }

        /* Alexis Ponce */
    section .myName{
        position:relative;
        /* top: 30%;
        left: 25%; */
        margin-left: 5vw;
        color: #fff;
        font-size: 14vw; 
        max-width: 100%;
        /* border: 4px white solid; */
        padding: 0%;
    }

        /* little about message */
    section .shortAbout{
        position: relative;
        width: 80vw;
        color: #fff;
        margin-left: 5vw;
        display:flex;
        font-size: 7vw;
        padding: 0%;
        /* border: 4px green solid; */
    }

    section img{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 100%;
        object-fit:cover;
        visibility:visible;
    }

    .About .Sign{
        position: relative;
        margin-top: 6vh;
        margin-left: 5vw;
        font-size: 10vw;
        color: #fff;
        text-decoration: underline solid #fff;
    }
    .About .first_About{
        position: relative;
        margin-left: 10vw;
        font-size: 3vw;
        color: #fff;
        background-color: inherit;
    }
    .About .Second_About{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 3vw;
        color: #fff;
        background-color: inherit;
    }

    .About .about_skills{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 3vw;
        color:#fff;
        background-color: inherit;
    }

    .About .Skills{
        position: relative;
        margin-left: 11vw;
        margin-top: 2vh;
        display:inline-flex;
        color: #ccd6f6;
    }
    .About .Skills .Skills_list{
        position: relative;
        font-size: 3vw;
        width: 30vw;
    }
    .About .Skills .Second_Skills_list{
        position: relative;
        font-size: 3vw;
        width: 30vw;
    }
}




@media all and (max-width: 630px) {
    header{
    padding: 0;
        display:flex;
        float: right;
    }
    header .logo{
        
        position: relative;
        display: block;
        font-weight: 700;
        font-size:x-large;
        letter-spacing: 1px;
        margin-top: 5vh;
        float: right;
        order: 2;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        visibility: hidden;
        display:block;
        justify-content: right;
        margin-left: 0%;
        font-size: small;
        float: left;
        order: 1;
    }
    .sideNav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        visibility: visible;
    }
    .sideNav a{
        display:block;
        text-decoration: none;
        padding: 8px 8px 8px 32px;
        color: #818181;
        transition: 1s;
    }
    .sideNav a:hover{
        color:#f1f1f1;
    }
    .sideNav .closbtn{
        position:relative;
        left: 70%;
    }
    .navButton{
        visibility: visible;
        font-size: 30px;
        cursor: pointer;
    }

    #welcome{
        position:relative;
        width: fit-content;
        color: #fff;
        margin-top: 10vh;
        margin-left: 10vw;
        white-space:nowrap;
        font-size: 15vw;
        z-index: 9;
        padding: 0%;
    }
    
    /* my name is */
    section .hello{
        position:relative;
        /* top: 20%;
        left: 25%; */
        font-size: 8vw;
        color: #fff;
        margin-top: 1vh;
        margin-left: 5vw;
        margin-bottom: 0;
        padding: 0%;
        /* border: 4px black solid; */
    }

        /* Alexis Ponce */
    section .myName{
        position:relative;
        /* top: 30%;
        left: 25%; */
        margin-left: 5vw;
        color: #fff;
        font-size: 14vw; 
        max-width: 100%;
        /* border: 4px white solid; */
        padding: 0%;
    }

        /* little about message */
    section .shortAbout{
        position: relative;
        width: 80vw;
        color: #fff;
        margin-left: 5vw;
        display:flex;
        font-size: 7vw;
        padding: 0%;
        /* border: 4px green solid; */
    }

    section img{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        max-height: 100%;
        object-fit:cover;
        visibility:visible;
    }

    .About{
        width: 100vw;
        height: 100vh;
    }
    .About .Sign{
        position: relative;
        margin-top: 6vh;
        margin-left: 5vw;
        font-size: 14vw;
        color: #fff;
        text-decoration: underline solid #fff;
    }
    .About .first_About{
        position: relative;
        margin-left: 10vw;
        font-size: 3.5vw;
        color: #fff;
        background-color: inherit;
    }
    .About .Second_About{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 3.5vw;
        color: #fff;
        background-color: inherit;
    }

    .About .about_skills{
        position: relative;
        margin-top: 3vh;
        margin-left: 10vw;
        font-size: 3.5vw;
        color:#fff;
        background-color: inherit;
    }

    .About .Skills{
        position: relative;
        margin-left: 11vw;
        margin-top: 2vh;
        display:inline-flex;
        color: #ccd6f6;
    }
    .About .Skills .Skills_list{
        position: relative;
        font-size: 3.5vw;
        width: 30vw;
    }
    .About .Skills .Second_Skills_list{
        position: relative;
        font-size: 3.5vw;
        width: 30vw;
    }
}