
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
   margin: 0;
   padding: 0;
   font-family: 'Poppins', sans-serif;
}
/* Covers the whole page */
body{
    width: 100vw;
    height: 100vh;
    /* background: linear-gradient(#7597de,#2b1055, #0c0c0c); */
    background: linear-gradient(#2b1055,#03194a);
}
/*Includes all containers in the tope of page, logo, options*/
header{
    position:absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    /* padding: 30px 100px; */
    display:flex;
    justify-content: space-between;
    align-items:center;
    
    z-index: 1000;
}
/* the logo is my name */
header .logo{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-weight: 700;
    text-decoration:none;
    font-size: 2em;
    text-transform:uppercase;
    letter-spacing: 2px;
    
}
/* list of options for the site */
header ul{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items:center;
    margin-left: 40%;
    

}
/* individual objects inside the list */
header ul li{
    list-style: none;
    margin-left: 20px;
}
/* actions for links inside the list */
header ul li a{
    text-decoration:none;
    padding: 6px 50px;
    color:#fff
}
/* actions for when the mouse hovers over the link */
header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b1055;
    border-radius: 20px;
}
/* container for the image on the site  */
section{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 100vh;
}
/* object of image in section container */
section img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    visibility:hidden;
}

section img#Cover_photo{
    /* makes the image blend with the background*/
    mix-blend-mode: screen;
    
}
/* container with the welcome sign */
#welcome{
    position:absolute;
    top: 9%;
    left: 30%;
    color: #fff;
    white-space:nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
p{
    color:white;
    background:red;
    font-style: italic;
    
}
.sideNav{
    visibility: hidden;
}
.navButton{
    visibility: hidden;
}
.afterGradient{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: auto;
}
.afterGradient img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
    visibility: inherit;
}
/* setting for screen size smaller than 1000px */
@media (max-width: 1000px) {
    header{
       padding: 0;
        display:flex;
        float: right;
    }
    header .logo{
        position: relative;
        display: block;
        float: left;
        font-weight: 700;
        font-size:x-large;
        letter-spacing: 1px;
        margin-top: 0;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        display:block;
        justify-content: right;
        margin-left: 40%;
        font-size: small;
        float: right;
    }
    .sideNav{
        visibility: hidden;
    }
    .navButton{
        visibility: hidden;
    }
    
}


/* setting for screen size smaller than 1200px */
@media (max-width: 1200px) {
    header{
       padding: 0;
        display:flex;
        float: right;
        height:5%;
    }
    header .logo{
        position: relative;
        display: block;
        float: left;
        font-weight: 700;
        font-size:x-large;
        letter-spacing: 1px;
        margin-top: 0;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        display:block;
        justify-content: right;
        margin-left: 0%;
        font-size: small;
        float: right;
    }
    header ul li{
        display: block;
        float: right;
    }
    section img{
        position:absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
    }
    .sideNav{
        visibility: hidden;
    }
    
}

/* setting for screen size smaller than 900px */
@media (max-width: 900px) {
    header{
       padding: 0;
        display:flex;
        float: right;
    }
    header .logo{
        position: relative;
        display: block;
        font-weight: 700;
        font-size:x-large;
        letter-spacing: 1px;
        margin-top: 0;
        float: right;
        order: 2;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        visibility: hidden;
        display:block;
        justify-content: right;
        margin-left: 0%;
        font-size: small;
        float: left;
        order: 1;
    }
    .sideNav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        visibility: visible;
    }
    .sideNav a{
        display:block;
        text-decoration: none;
        padding: 8px 8px 8px 32px;
        color: #818181;
        transition: 1s;
    }
    .sideNav a:hover{
        color:#f1f1f1;
    }
    .sideNav .closbtn{
        position:relative;
        left: 70%;
    }
    .navButton{
        visibility: visible;
        font-size: 30px;
        cursor: pointer;
    }
    
}