@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}
body{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
}
header{
    position:absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    /* padding: 30px 100px; */
    display:flex;
    justify-content: space-between;
    align-items:center;
    border: 4px solid;
    
    z-index: 1000;
}
header .logo{
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-weight: 700;
    text-decoration:none;
    font-size: 2em;
    text-transform:uppercase;
    letter-spacing: 2px;
    border: 4px solid;
    
}
header ul{
    display: flex;
    width: 100vw;
    height: auto;
    border: 4px solid;
    justify-content: center;
    align-items:center;
    margin-left: 40%;
    

}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration:none;
    padding: 6px 50px;
    color:#fff
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    color: #2b1055;
    border-radius: 20px;
}
section{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 100vh;
    
}
section img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}
section img#Cover_photo{
    mix-blend-mode: screen;
    
    
}
#welcome{
    position:absolute;
    left: 30%;
    color: #fff;
    white-space:nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
p{
    color:white;
    background:red;
    font-style: italic;
    
}

div{
    width: 100px;
    height: 100px;
    background: orange;
    border: 4px solid;
}
.sideNav{
    visibility: hidden;
}
@media (max-width: 1000px) {
    header{
       padding: 0;
        display:flex;
        float: right;
    }
    header .logo{
        position: relative;
        display: block;
        float: left;
        font-weight: 700;
        font-size:x-large;
        letter-spacing: 1px;
        margin-top: 0;
        border: 4px solid;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        display:block;
        justify-content: right;
        margin-left: 40%;
        border: 4px solid;
        font-size: small;
        float: right;
    }
    .sideNav{
        visibility: hidden;
    }
    .navButton{
        visibility: hidden;
    }
    
}
@media (max-width: 1200px) {
    header{
       padding: 0;
        display:flex;
        float: right;
    }
    header .logo{
        position: relative;
        display: block;
        float: left;
        font-weight: 700;
        font-size:x-large;
        letter-spacing: 1px;
        margin-top: 0;
        border: 4px solid;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        display:block;
        justify-content: right;
        margin-left: 0%;
        border: 4px solid;
        font-size: small;
        float: right;
    }
    section img{
        position:absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: auto;
    }
    .sideNav{
        visibility: hidden;
    }
    
}
@media (max-width: 900px) {
    header{
       padding: 0;
        display:flex;
        float: right;
    }
    header .logo{
        position: relative;
        display: block;
        font-weight: 700;
        font-size:x-large;
        letter-spacing: 1px;
        margin-top: 0;
        float: right;
        border: 4px solid;
        order: 2;
    }
    header .logo::after{
        justify-content: center;
    }
    header ul{
        visibility: hidden;
        display:block;
        justify-content: right;
        margin-left: 0%;
        border: 4px solid;
        font-size: small;
        float: left;
        order: 1;
    }
    .sideNav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        visibility: visible;
    }
    .sideNav a{
        display:block;
        text-decoration: none;
        padding: 8px 8px 8px 32px;
        color: #818181;
        transition: 1s;
    }
    .sideNav a:hover{
        color:#f1f1f1;
    }
    .navButton{
        visibility: visible;
        font-size: 30px;
        cursor: pointer;
    }
    
}